* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d8d8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05718b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 4.5rem;
}

.container {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  flex-direction: column;
  background-color: #d8d8d8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 40rem;
  height: 30rem;
  text-align: center;
}

textarea {
  width: 30rem;
  height: 13rem;
  background-color: #ffffff80;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
  background-color: #05718b;
  color: #ffffff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition:  0.3s ease-in-out;
}

button:hover {
  background-color: #02a5ce;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05718b;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 4.5rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}